{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'mapping/css/custom/main.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            <h1 class="text-center m-4 m-md-4 m-lg-5">Spatial analysis</h1>
            <div class="row">
            <img src="{% static 'mapping/img/illustration_map.png' %}" alt="Crested Myna" 
                    class="m-2"
                    style="max-width: 100%; height: auto;">
            </div>
            <div class="row">
                <h3 class="col-10 col-lg-8 text-left m-4 m-md-4 m-lg-5">Preprocessing</h3>
                
            <p class="text-justify m-1 mb-2 mb-md-3 mb-lg-4">
                    The eBird data for the Crested Myna was filtered and tidied using the AUK package in R. 
                    The code used for this process is available in our repository 
                    <a href="https://github.com/rhoni-team/Crested_Myna_Data_Analysis" target="_blank">
                        <em>Crested Myna Data Analysis</em></a>.
                        Once the data was preprocessed, it was further analyzed to understand the distribution of 
                        the species across different countries. This involved spatially joining eBird observations
                        with country polygons to calculate the number of bird observations in each 
                        country over time. Additionally, each country with Crested Myna sightings was 
                        categorized as either part of the species' native range or outside of it, 
                        according information from <a href="#bibliography">bibliography</a>.
            </p>
            </div>
            <div class="row">
                <h3 class="col-10 col-lg-8 text-left mt-4 mt-md-4 mt-lg-5">Spatial analysis with PostGIS</h3>
            </div>
            <div class="row">
                <h4 class="col-10 col-lg-8 text-left m-4 m-md-4 m-lg-5">Polygons layer</h3>
                <p class="text-justify m-1 mb-2 mb-md-3 mb-lg-4">
                    The country polygon layer was initially processed with PostGIS to ensure all geometries were 
                    <a href="https://postgis.net/workshops/postgis-intro/validity.html" target="_blank">
                        valid</a>. After validation, the polygons were simplified to reduce geometric complexity,
                        optimizing the data for spatial analysis without sacrificing significant detail.
                        The SQL code can be found in <a href="https://github.com/rhoni-team/CrestedMyna" target="_blank">our repository</a>, 
                        in the django migrations applied over the database.
                </p>
            </div>
            <div class="row">
                <h4 class="col-10 col-lg-8 text-left m-4 m-md-4 m-lg-5">World Cities shapefiles</h3>
                <p class="text-justify m-1 mb-2 mb-md-3 mb-lg-4">
                    The world cities layer used in this project was created by merging two distinct datasets: 
                    <a href="https://hub.arcgis.com/datasets/imb::cities/about" target="_blank">
                        <em>"Cities"</em></a> and <a href="https://hub.arcgis.com/datasets/esri::world-cities/about" target="_blank">
                            <em>"World Cities".</em></a> Both shapefiles contained many major cities, 
                    but each included unique entries not found in the other. 
                    To ensure comprehensive coverage, a union operation was performed to combine
                    the layers into a single dataset. Duplicate entries were then identified and removed
                     based on both attribute values and spatial location.
                </p>
            </div>
            <div class="row">
                <h4 class="col-10 col-lg-8 text-left m-4 m-md-4 m-lg-5">Analysis of Preferred Habitat</h3>
                <p class="text-justify m-1 mb-2 mb-md-3 mb-lg-4">
                    This species prefers open areas such as agricultural lands, parks and urban spaces.
                    A spatial analysis was conducted to determine whether, outside its native range,
                    this species occupies rural areas or remains within urban zones like other exotic
                    species such as the house sparrow <em>(Passer domesticus)</em>.
                </p>
                <p class="text-justify m-1 mb-2 mb-md-3 mb-lg-4">
                    Urban areas worldwide were determined by creating variable-radius buffers around
                    the city layer. Since the dataset includes only the major cities of the world,
                    a minimum radius of 20 km and a maximum radius of 200 km were set based on the 
                    population size of each city.
                </p>
                <p class="text-justify m-1 mb-2 mb-md-3 mb-lg-4">
                    The species observations were then classified based on whether they were located
                    within urban areas or not.
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-10 col-lg-8 mx-auto">
        <p class="text-justify m-1 mb-2 mb-md-3 mb-lg-4">
            <span class="small fw-bold" id="bibliography">Bibliography:</span>
        <ul class="small">
            <li>Scheffer, Theo H. and Cottam, Clarence, 1935. "The Crested Myna, or Chinese Starling, in the Pacific
                Northwest," Technical Bulletins 164532, United States Department of Agriculture, Economic Research
                Service.</li>
        </ul>
        <ul class="small">
            <li>Feare, C. J. and Craig, A. D. F. K. 1998. Starlings and mynas. Christopher Helm, London.</li>
        </ul>
            </p>
        </div>
    </div>

</div>
{% endblock %}

